.flowCanvas {
  width: 100vw;
  height: 100vh;
  background-image: url('public/background-stars.jpg');
  background-size: cover;
  transition: background-position 0.1s ease-out;
}

.reactFlow {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}